:root {
    --primary-color: #3A98B9;
    --secondary-color: #FFF1DC;
    --icon-color: #E8D5C4;
    --text-color: #EEEEEE;
    --text-color-secondary: #2C2561;
    --accent-color: #FFC107;
    --icon-color-secondary: #2C2561;
}

body {
    font-family: 'Montserrat-black', sans-serif;
    /* background-color: var(--primary-color); */

}

h1 {
    font-size: 3rem;
    line-height: 1.5;
    color:var(--text-color-secondary);
}

h2 {
    font-size: 2.5rem;
    line-height: 1.5;
    padding: 12px;
}

.navbar {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 2.5rem;
}

.navbar-nav {
    color: var(--text-color);
    padding: 2.5rem;
}

.nav-item {
    color: var(--text-color);
    padding: 0 18px;
}

.container-fluid {
    background-clip: content-box;
    padding: 0;
}

.material-icons {
    vertical-align: bottom;
    margin-right: 6px;
}

#title {
    color: var(--text-color-secondary);
    text-align: center;
    align-content: center;
    background-color: var(--secondary-color);
    padding: 200px 30px;
}

.main-image {
    width: 18%;
    padding: 72px 0;
    position: absolute;
    right: 10%;
    transform: rotate(25deg);
}

.headline {
    font-size: 3.5rem;
}

@media (max-width: 1000px) {

    #title {
        padding: 30px 30px;
    }

    .main-image {
        position: static;
        width: 20%;
        transform: rotate(0);
    }
}

/* features section */
#features {
    padding:72px 0;
    background-color: var(--primary-color);
    position: relative;
}

.features-items {
    align-content: center;
    text-align: center;
    
}
.accent:hover {
    color: var(--accent-color);
}


/* testimonial section */

#testimonials {
    background-color: var(--secondary-color);
    text-align: center;
}

.profile {
    width: 10%;
    border-radius: 20%;
}

.carousel-item {
    padding: 180px 180px;

}

.carousel-btn {
    color: var(--icon-color-secondary);
    font-size: 2rem;
}
.carousel-btn:hover {
    color: var(--accent-color);
}

/* press */
#press {
    padding: 72px 0;
    text-align: center;
    background-color: var(--secondary-color);
}

.press-logo {
    width: 10%;
    margin: 20px 50px
}

/* pricing */
#pricing {
    padding: 72px 0;
    text-align: center;
    background-color: var(--primary-color);
}
.card {
    margin: auto;
    width: 80%;
    text-align: center;
    align-content: center;
    background-color: var(--secondary-color);
}
.col-pricing {
    margin-top: 2%;
    margin-bottom: 2%;
}
.pricing-col {
    text-align: center;
}

/* cta  */

#cta {
    background-color: var(--secondary-color);
    text-align: center;
    align-content: center;
    padding: 70px 0;
}

h3 {
    margin: 30px;
}


/* footer */
#footer {
    background-color: var(--primary-color);
    text-align: center;
    align-content: center;
    padding: 70px;
}
.footer-icon {
    margin: 6px;
}
